
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}


header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  
}


.profile-box {
    width: 50%;
    background-color: #ffffff;
    padding: 20px;              
    border: 2px solid #e0e0e0;  
    margin: 0 auto 20px auto;   
    border-radius: 10px;
    text-align: center;
}



.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out; 
}

.profile-img:hover {
    width: 165px;     
    height: 165px;
    border-radius: 50%; 
    transform: scale(1.05); 
    cursor: pointer;
    box-shadow: 0 0 15px  #003366, 0 0 40px  #003366 inset;
}


/* Text Styling */
.student-name {
    font-size: 1.8em; 
    margin: 10px 0;
}

.student-info {
    font-size: 1.3em;
    margin: 5px 0;
}

.bio {
    font-size: 1.1em;
    margin-top: 15px;
    line-height: 1.6;
}

footer {
    background-color: #003366;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}
