body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f5f6f7;
  margin: 20px;
  color: #333;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
  color: red;
}

form {
  background: #ebebeb;
  max-width: 700px;
  margin: auto;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(141, 139, 139, 0.1);
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  width: 100%;
  padding: 8px 10px;
  margin-top: 5px;
  border: 1px solid #9c9898;
  border-radius: 5px;
  box-sizing: border-box;
}

.inline-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.inline-group-RD {
  display: flex;
  gap: 5px;
  justify-items: auto;

}

.inline-group-RD label {
  font-weight: normal;
  margin-right: 25px;
  margin-bottom: 3px;
  white-space: nowrap;
  justify-content: center;
}

.inline-group-RD input {
  flex: 1;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  align-items: center;

}

.inline-group>label {
  font-weight: normal;
}

.inline-group input[type="radio"],
.inline-group input[type="checkbox"] {
  margin-right: 5px;
}

.inline-group>div {
  flex: 1 1 120px;
}

textarea {
  width: 100%;
  min-height: 80px;
  padding: 8px 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: vertical;
}

.small-input {
  width: 120px;
}

.btn-group {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

button {
  background-color: #888;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  flex: 1;
}

button.reset-btn {
  background-color: #888;
}

button:hover {
  background-color: blue;
  color: white;
}

.required-star {
  color: red;
  margin-left: 2px;
}

/* Responsive */
@media (max-width: 600px) {
  .inline-group {
    flex-direction: column;
  }

  .inline-group-RD {
    flex-direction: column;
  }

  .btn-group {
    flex-direction: column;
  }

  button {
    flex: initial;
    width: 100%;
  }
}